<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One book</title>
</head>
<body>
    <h1>Страница книги</h1>
    <br>
    <br>

    <p th:text="${book.title} + ', ' + ${book.author} + ', ' + ${book.yearOfWriting}"></p>

<!--    этот блок показывается если у книги есть владелец-->
    <div th:if="${owner}">
        <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person name</span>
        <br/>
        <br/>
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.bookId})}">
            <input type="submit" value="Освободить книгу"/>
        </form>
    </div>

<!--    этот блок показывается если у книги нет владельца и в people есть список людей-->
    <div th:if="${people}">
        <span>Эта книга сейчас свободна, кому ее назначить? </span>

        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.bookId})}">
            <label for="person">Выберите человека: </label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
            </select>

            <input type="submit" value="Назначить книгу"/>
        </form>
    </div>

    <hr/>
    <br/>

    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.bookId})}" th:object="${book}">
        <input type="submit" value="Редактировать"/>
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.bookId})}" th:object="${book}">
        <input type="submit" value="Удалить"/>
    </form>

    <br/>
    <a href="/books">Назад </a>

</body>
</html>