<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

    <h1>Страница управления правами</h1>
    <br/>
    <br/>

    <div th:if="${admins_people}">
        <form th:method="PATCH" th:action="@{/user_to_admin}">
            <label for="person_admin">Список пользователей: </label>
            <select th:object="${person}" th:field="*{id}" id="person_admin">
                <option th:each="person : ${admins_people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
            </select>

            <input type="submit" value="Назначить администратором"/>
        </form>
    </div>
    <br/>

    <div th:if="${users_people}">
        <form th:method="PATCH" th:action="@{/admin_to_user}">
            <label for="person_user">Список администраторов: </label>
            <select th:object="${person}" th:field="*{id}" id="person_user">
                <option th:each="person : ${users_people}" th:value="${person.getId()}" th:text="${person.getFullName()}"></option>
            </select>

            <input type="submit" value="Назначить пользователем"/>
        </form>
    </div>
    <br/>
    <br/>

    <a href="/">Home</a>

</body>
</html>