<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все люди</title>
</head>
<body>
  <h1>Страница со списком всех людей</h1>
  <br/>
  <br/>

  <div th:each="person : ${people}">
    <a th:text="${person.fullName} + ', ' + ${person.yearOfBirth}" th:href="@{/people/{id}(id=${person.id})}"></a>
  </div>
  <br/>
  <br/>
  <hr/>

  <a href="/people/new">Добавить человека</a>
  <br/>
  <br/>

  <a href="/books">Просмотреть все книги</a>
  <br/>
  <br/>

  <a href="/">Home</a>

</body>
</html>