<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все книги</title>
</head>
<body>
  <h1>Страница со списком всех книг</h1>
  <br/>
  <br/>

  <div th:each="book : ${books}">
    <a th:text="${book.title} + ', ' + ${book.author} + ', ' + ${book.yearOfWriting}" th:href="@{/books/{id}(id=${book.bookId})}"></a>
  </div>
  <br/>
  <br/>
  <hr/>

  <a href="/books/search">Найти книгу</a>
  <br/>
  <br/>

  <a href="/books/new">Добавить книгу</a>
  <br/>
  <br/>

  <a href="/people">Просмотреть всех людей</a>
  <br/>
  <br/>

  <a href="/books?page=0&books_per_page=5&sort_by_year=true">Пагинация и сортировка списка всех книг</a>
  <br/>
  <br/>

  <a href="/">Home</a>

</body>
</html>