<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>

<form th:method="GET" th:action="@{/admin}">
    <label for="table">Выберите таблицу: </label>
    <select th:object="${table}" th:field="*{tableName}" id="table" onChange="@{/admin">
        <option th:each="table: ${tables}" th:value="${table.getTableName()}" th:text="${table.getTableName()}"></option>
        <!--      th:selected="${i==75}">-->
    </select>

    <input type="submit" value="Выбрать таблицу"/>

    <br/>
    <form>
        <label for="value">Выберите значение из таблицы: </label>
        <select th:object="${value}" th:field="*{valueId}" id="value" onChange="@{/admin">
            <option th:each="value: ${values}" th:value="${value.getValueId()}" th:text="${value.getValueName()}"></option>
            <!--      th:selected="${i==75}">-->
        </select>

        <input type="submit" value="Выбрать значение"/>
    </form>
</form>

<br/>
<form th:method="POST" th:action="@{/admin}" th:object="${newValue}">
    <label for="new_value">Введите наименование нового значения: </label>
    <input type="text" th:field="*{newValueName}" id="new_value"/>
    <input type="text" th:field="*{tableNameForNewValue}" hidden="hidden"/>
    <input type="submit" value="Создать"/>
</form>

<br/>
<form th:method="PATCH" th:action="@{/admin}" th:object="${currentValue}">
    <label for="current_value">Переименуйте наименование текущего значения: </label>
    <input type="text" th:field="*{currentValueName}" id="current_value"/>
    <input type="text" th:field="*{currentValueId}" hidden="hidden"/>
    <input type="text" th:field="*{tableNameForCurrentValue}" hidden="hidden"/>
    <input type="submit" value="Переименовать"/>
</form>

<br>
<form th:method="DELETE" th:action="@{/admin}" th:object="${currentValue}">
    <p th:text="'Удалить текущее значение: ' + ${currentValue.getCurrentValueName()}">currentValue</p>
    <input type="text" th:field="*{currentValueId}" hidden="hidden"/>
    <input type="text" th:field="*{tableNameForCurrentValue}" hidden="hidden"/>
    <input type="submit" value="Удалить">
</form>

</body>
</html>