<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

    <h1>Приложение для Библиотеки</h1>

    <p>Вы можете просмотреть набор всех книг, которые есть в библиотеке, добавить новую книгу, изменить или удалить выбранную книгу.</p>
    <p>Можете просмотреть находится ли книга на руках у посетителя или книга в данный момент свободная. </p>
    <p>Можете назначить книгу выбранному человеку или освободить книгу, когда ее вернули. </p>
    <a href="/books">Просмотреть все книги</a>
    <br/>
    <br/>
    <p>Также вы можете просмотреть список посетителей, добавить нового человека, изменить или удалить выбранного посетителя.</p>
    <a href="/people">Просмотреть всех посетителей</a>
    <br/>

</body>
</html>