<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Новый читатель</title>
</head>

<body>

<p>Создание нового читателя</p>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <div>
        <label for="name">ФИО</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br>
        <label for="yearOfBirth">Год рождения</label>
        <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
        <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth Error</div>
        <br>
        <input type="submit" value="Создать"/>
    </div>
</form >

</body>

</html>